<mat-toolbar color="primary" class="margin-bottom-1">
   <span class="span-hover-pointer" routerLink="/" (click)="activeLink = 'cuentas'">
    <svg width="100" height="50">
      <image href="assets/logoFC-only.svg" width="100" height="50" />
    </svg>
   </span>
 <nav mat-tab-nav-bar [tabPanel]="tabPanel" backgroundColor="primary">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     routerLink="/{{link}}" 
     [active]="activeLink == link"> {{link | titlecase }} </a>
</nav>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>