:host ::ng-deep{
  table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 1rem;
    width: 100%;
  }
  .mat-mdc-form-field.mat-focused{
    .mdc-notched-outline__notch {
      width: calc(65px * var(--mat-mdc-form-field-floating-label-scale, 0.75) + 9px) !important;
    }
  }
  .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    max-width: 150px !important;
  }
} 