table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

    tr.table-row:hover{
      cursor: pointer;
      background-color: lightblue !important;
    }

  // }