// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import 'styles/angular-material.styles.scss';
@import 'styles/spaces.styles.scss';
@import 'styles/helpers.styles.scss';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// The warn palette is optional (defaults to red).
$muebles-fc-warn: mat.define-palette(mat.$red-palette);
$primary-palette: (
  50: #e7e8ed,
  100: #c3c5d3,
  200: #9da0b5,
  300: #797c96,
  400: #5F6182,
  500: #474770,
  600: #414068,
  700: #39375d,
  800: #312e50,
  900: #231f3f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$accent-palette: (
  50: #ede6da,
  100: #D4C1A4,
  200: #bb9863,
  300: #a3721d,
  400: #945900,
  500: #854100,
  600: #843900,
  700: #802c00,
  800: #791b00,
  900: #700000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$muebles-fc-primary: mat.define-palette($primary-palette, 400);
$muebles-fc-accent: mat.define-palette($accent-palette, 100);

$muebles-fc-theme: mat.define-light-theme((
  color: (
    primary: $muebles-fc-primary,
    accent: $muebles-fc-accent,
    warn: $muebles-fc-warn,
  )
));

@include mat.all-component-themes($muebles-fc-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
}

tr.table-row:hover{
  cursor: pointer;
  background-color: map-get($primary-palette, 50) !important;
}